* {
  box-sizing: border-box;
}
 
.navbar {
  font-family: Nunito;
  /* padding:0 0 10rem 0; */
  width: 22%;
  background-color: #f0f4f4;
  position: fixed;
  top: 0;
height: 180vh;}
/* Logo styles */
.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  /* margin-bottom: 3.5em; */
}

.logo {
  height: 3em;
  width: 3em;
}
.logo-text {
  font-family: Work Sans;
  color: #247b7b;
  font-size: 2rem;
  font-weight: 700;
}
.logo-text span {
  color: #3b247b;
}

/* NavLink styles */
.navbar-links li a {
  text-decoration: none;
  padding: 10px 0 0 0;
  display: block;
  color: #455454;
  text-align: justify;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.625em;
  margin-right: 2.5rem;
  padding: 0.625rem 1.25rem;
}
.icon {
  height: 1.25rem;
  width: 1.25rem;
}
.add-new {
  border-radius: 4px;
  width: 12.25rem;
  background: #247b7b;
  color: #ffffff;
  font-size: 0.875em;
  margin-bottom: 2.5rem;

  margin-top: 0;
  justify-content: center;
}
ul li {
  list-style: none;
}
/* Help container */
.navbar-help {
  margin: 1.44rem auto;
  background: #ffffff;
  width: 75%;
  height: 14.3rem;
  padding: 1.875em 2.56em;
}
.help-outline {
  font-size: 1.5em;
  color: #247b7b;
  margin: 0;
}
.need-text {
  font-size: 0.875em;
  color: #247b7b;
  font-weight: bold;
  margin: 0;
}
.need-text span {
  color: #3b247b;
}
.help-body-text,
.help-btn {
  font-size: 0.75em;
}
.help-body-text {
  font-size: 0.75em;
  color: #666666;
  margin: 0.25rem 0 1rem 0;
}
.help-btn {
  /* padding:4rem; */
  color: #247b7b;
  margin: 0 0 1.875rem 0;
  height: 2rem;
  width: 6.125rem;
  border-radius: 2px;
  border: 1px solid #247b7b;
  background: transparent;
}

.active-link {
  border-radius: 4px;
  width: 12.25rem;
  background: #ffffff;
}
