.campaign-page {
  font-family: Nunito;

}

.top {
  padding: 1.5rem 0 0 0;
  position: fixed;
  margin-left: 22%;
  margin-bottom: 2rem;
  background-color: #fff;
  border-bottom: 2px solid #f0f4f4;
  width: 76%;
}
.top-search {
  margin-left: 5.4rem;
  border: 1px solid #999999;
}
.campaign-container {
  margin-left: 22%;
  padding-left: 5.4rem;
  padding-top: 10%;
}
.camp-text {
  text-align: left;
  font-size: 1.25em;
  margin-bottom: 0;
  color: #247b7b;
}
.campaign-table-details,
.capmaign-status {
  display: flex;
}
.campaign-table-details {
  align-items: center;
  gap: 6rem;
}

/* .capmaign-status{
    display: flex;
} */
.capmaign-status {
  gap: 1rem;
}
.capmaign-status p {
  color: #247b7b;
  font-size: 0.875em;
  font-weight: 500;
  border: 1px solid #2a9d8f;
  border-radius: 4px;
  padding: 0.375rem 0.625rem;
}

/* .all-campaign span {
  font-size: 5em;
} */
.search-select-campaign-cont {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.campaign-search {
  width: 15.3rem;
}

.campaign-select-input {
  padding: 0;
  margin: 0;
  width: 14.2rem;
  height: 1.9rem;
}

/* Add padding to table cells */
table td,
.campaign-number,
button {
  color: #666666;
}
.campaign-table {
  margin-top: 2.3rem;
}
table th {
  background-color: #f0f4f4;
}
table th,
table td {
  color: #455454;
  padding: 0 6.5rem 0 0.5rem;
  border: none;
}
table th {
  font-size: 0.75em;
}
table td {
  font-size: 0.875em;
}
table,
th,
td {
  border-collapse: collapse;
}

table tr {
  height: 50px;
}

table th {
  text-align: left;
}

button {
  border: none;
  background-color: transparent;
}
.btn-td {
  align-items: center;
  background-color: transparent;
}

.eye-btn,
.edit-btn {
  margin-right: 0.8rem;
}

.campaign-number-cont {
  display: flex;
  width: 52rem;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.campaign-number {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.campaign-number,
.campaign-bottom-text {
  font-weight: bold;
}
.num-two {
  cursor: pointer;
  background-color: #247b7b;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 50%;
}

.campaign-bottom-text {
  font-size: 0.875em;
}

.inactive {
color: #990000;
}

.active {
  color: #009918;
}
