/* Overview Css */

.body-container {
  font-family: Nunito;
  margin-left: 22%;
  padding: 0 5.3rem 5rem;
  margin-bottom: 2rem;

}
.top-navbar-container,
.input-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-icon {
  font-size: 1.5em;
  /* height: 1.25rem;
width: 1.8rem; */
}
.input-cont {
  font-size: 0.75em;
  color: #666666;
  border-radius: 4px;
  border: 1px solid #999999;
  padding: 0.75rem;
  height: 2rem;
  width: 24rem;
  margin: 1.5rem 0;
}

.profile-div {
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notif-icon {
  font-size: 1.5em;
  margin-right: 1.6rem;
}
.profile-pic {
  height: 2.2rem;
  height: 2.2rem;
  margin-right: 0.75rem;
}
.select-input {
  color: #333333;
  border: none;
  padding: 0 0.5rem;
}
/* Multi tag selction */

.activity-text,
.select-input {
  font-size: 0.875em;
}
/* Overview container */

.overview-container,
.date-container,
.export-div {
  display: flex;
  align-items: center;
}
.date-export-cont {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.date-container {
  border: 1px solid #ececec;
  padding: 0 0.5rem;
  border-radius: 2px;
}
.overview-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview-text,
.calender {
  color: #247b7b;
}
.overview-text {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.calender,
.search-input {
  border: none;
}

.calender {
  font-size: 1.5em;
  font-weight: bold;
}
.date-text {
  margin: 0 0.25rem;
  padding: 0.5rem 0.25rem;
  font-weight: 500;
  border-right: 1px solid #ececec;
}
.date-export-cont {
  gap: 0.5rem;
  font-size: 0.75em;
}
.date {
  color: #666666;
  font-weight: light;
}

.dropdown {
  color: #247b7b;
  font-size: 2em;
}
.export-div {
  display: flex;
  gap: 0.5rem;
  background: #f0f4f4;
  font-size: 1em;
  font-weight: bold;
  color: #247b7b;
  padding: 0 2rem;
}

.export-icon {
  font-size: 1.5em;
  font-weight: bold;
}
/* Lottiefile css */
.lottie-container {
  margin: 7.4rem auto 2.8rem;
  width: 26.6rem;
  height: 18.1rem;
}

.select-input {
  font-weight: bold;
}
a {
  text-decoration: none;
}
.body-add-new {
  margin: 0 auto;
}

/* TopNav search */
.top-search {
  border: 2px solid #fffffa;
}
